body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.logo img {
    height: 80px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 50px;
}

.feature a {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-size: large;
    color: #252432;
    ;
}

.feature img {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.fresh {
    color: #ff6347;
}

.banner-section {
    color: rgb(92, 86, 86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.banner-container {
    max-width: 300px;
    padding: 10px;
    margin-left: 40px;
}

.banner-container h1 {
    height: auto;
    font-size: 2em;
    margin-bottom: 0px;
    text-size-adjust: xx-large;
}

.banner-container p {
    width: 650px;
    font-size: 1.2em;
    margin-top: 10px;
}

.banner-container h1 span {
    color: #ff6347;
}

.banner-image img {
    width: 650px;
    height: auto;
    padding-right: 40px;
    gap: 20px;
    margin-left: 200px;
}

.our {
    color: #e44a2f;
}

.about-section {
    padding: 50px;
    text-align: center;
}

.about-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #6b6a6a;
    max-width: 800px;
    margin: 0 auto;
}

.about-cards {
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    border: 1px solid #ccc;
    padding: 25px;
    margin: 5px;
    text-align: center;
}

.btn {
    background-color: #ff4c2d;
    color: white;
    border: none;
    padding: 10px 80px;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background-color: #d43c2a;
}
.flower-section {
    display: flex;
    padding: 10px 5%;
    gap: 40px;
    align-items: center;
    background-color: aliceblue;
    flex-wrap: wrap;
}
.flower-image {
    position: relative;
    flex: 1;
}
.flower-image img:first-child {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    flex: 1;
}
.flower-image img:last-child {
    width: 100px;
    height: auto;
    position: absolute;
    top: -55px;
    right: -40px;
}
.flower-content {
    flex: 1 1 60%;
    max-width: 600px;
    padding: 20px;
}
.flower-content h2 {
    width: 100%;
    height: auto;
    font-size: 35px;
    color: #000000;
    margin-bottom: 20px;
    padding-left: 70px;
}
.flower-content ul {
    width: 100%;
    list-style-type: disc;
    padding-left: 30px;
}
.flower-content li {
    margin-bottom: 12px;
    font-size: 16px;
    color: #675a5a;
    gap: 10px;
}
.deal-section {
    padding: 50px 20px;
    text-align: center;
}
.deal-content h2 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.late {
    color: #e95a08;
}
.deal-content p {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #666;
}
.deal-cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.deal-cards-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deal-card1,
.deal-card2 {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    color: white;
    padding: 20px;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 300px;
    height: 180px;
}
.deal-card3 {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    width: 500px;
    height: 380px;
}
.deal-card1 {
    background-image: url('assets/deal-bloom.png');
}
.deal-card2 {
    background-image: url('assets/deal-ana.png');
}
.deal-card3 {
    background-image: url('assets/deal-zabo.png');
}
.blur-background {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
}
.deal-card1 p,
.deal-card2 p,
.deal-card3 p,
.deal-card1 a,
.deal-card2 a,
.deal-card3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.deal-card1 a,
.deal-card2 a,
.deal-card3 a {
    color: white;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 10px;
}
.deal-card1 p,
.deal-card2 p {
    color: white;
    margin-top: 20px;
}
.deal-card3 p {
    margin-top: 150px;
}
.hero {
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    color: white;
    max-width: 100%;
    height: 400px;
}
.hero-content {
    padding: 40px;
}
.hero-content h1 {
    color: #fffbfb;
    font-size: 3em;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    width: 700px;
    margin: auto;
    overflow: hidden;
    background-color: white;
}
.subscribe-form input[type="email"] {
    flex: 1;
    padding: 15px;
    border: none;
    font-size: 1rem;
    outline: none;
    color: #000000;
}
.subscribe-form button {
    padding: 10px 20px;
    background-color: #e76f00;
    color: rgb(255, 254, 254);
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.subscribe-form button:hover {
    background-color: #d94e06;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 90px;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-left {
    flex: 1;
    min-width: 220px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 15px;
}

.footer-desc {
    font-size: 15px;
    max-width: 280px;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    gap: 90px;
    flex: 2;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: gray;
}

.footer-social {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 110px;
}

.footer-social img {
    width: 28px;
    height: 28px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        justify-content: space-between;
        flex: 1;
    }

    .feature {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .feature a {
        display: none;
    }

    .feature a:last-child {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .feature a:last-child img {
        width: 20px;
        margin-right: 5px;
    }

    .banner-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-section p {
        max-width: 550px;
    }

    .banner-image {
        margin-top: 20px;
        width: 100%;
        margin-right: 250px;
    }

    .banner-container {
        text-align: left;
        margin-left: -290px;
    }

    .about-section {
        padding: 20px;
        text-align: center;
    }

    .about-container h2 {
        font-size: 2em;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .about-container p {
        font-size: 1.2em;
        max-width: 400px;
        margin: 0 auto;
        display: block;
    }

    .about-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 20px;

    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px;
    }

    .flower-section {
        flex-direction: column;
        align-items: center;
    }

    .flower-image {
        max-width: 100%;
        margin-bottom: 1px;
    }

    .flower-content {
        width: -100px;
    }

    .flower-content h2 {
        text-align: left;
        width: 100%;
        font-size: 28px;
        padding-left: 10px;
        margin-left: -0px;
    }

    .flower-content ul {
        color: #868686;
        max-width: 90%;
        padding-left: 12px;
        display: block;
    }

    .about-footer-sections {
        flex-direction: column;
        text-align: center;
    }

    .flower-image img:first-child {
        width: 100%;
    }

    .flower-image img:last-child {
        display: none;
    }

    .deal-card1 {
        width: 450px;
        height: 250px;
    }

    .deal-card2 {
        width: 450px;
        height: 250px;
    }

    .deal-card3 {
        width: 450px;
        height: 250px;
    }

    .deal-cards-left p,
    a {
        margin-top: 60px;
    }

    .deal-card-right p,
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
    }

    .hero {
        padding: 60px 15px;
        height: auto;
    }

    .hero-content {
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .subscribe-form {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 90%;
        background-image: transparent;
        gap: 10px;
    }

    .subscribe-form input[type="email"] {
        width: 100%;
        padding: auto;
        font-size: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
        gap: 30px;
    }

    .footer-left {
        text-align: left;
        width: 100%;
    }

    .footer-desc {
        max-width: 100%;
        font-size: 19px;
        color: #6b6a6a;
    }

    .footer-links {
        flex-direction: column;
        text-align: left;
        width: 100px;
        height: auto;
        gap: 0;
    }

    .footer-links ul {
        text-align: left;
        width: 200px;
        padding-left: 290px;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .footer-links li {
        margin-bottom: 8px;
        gap: 0;
    }

    .footer-social {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .footer-social img {
        width: 26px;
        height: 26px;
    }
}